extends ../layout.jade
block js
    script.
        <![CDATA[
            $( "#update-guide" ).click(function() {
                  var params = "title="+$("#guide-title").val()+"&body="+$("#guide-body").val()
                  $.ajax({
                      url: "#{route('guides-update', {id: guide.id})}",
                      type: 'PUT',
                      async: false,
                      data: params,
                      success: function(data, status) {
                        alert(status);
                      },
                      error: function(data, status) {
                        alert(status);            
                    }
                        
                  });
            });

            $( "#delete-guide" ).click(function() {
                  $.ajax({
                      url: "#{route('guides-delete', {id: guide.id})}",
                      type: 'DELETE',
                      async: false,
                      success: function(data, status) {
                        window.location.replace("#{route('guides-showAll')}");
                      },
                      error: function(data, status) {
                        alert(status);            
                    }
                        
                  });
            });
        ]]>


block content

    input(type="button" id="delete-guide" value="ELIMINA")
    form
        label(for="guide-title") titolo
        input(type="text" value="#{guide.title}" name="title" id="guide-title")
        label(for="guide-body") testo
        textarea(name="body" id="guide-body").
            #{guide.body}
        input(type="button" id="update-guide" value="Modifica")
