extends ../layout.jade

block vars
    -title= guide.title

block css
    link(rel="stylesheet" type="text/css" href="/public/css/github.css")

block js
    script(src="/public/js/highlight.min.js")
    script hljs.initHighlightingOnLoad();

block content
    article
        header
            h1.GaudoNet__pageTitle= guide.title
            p.GaudoNet__guide_date.
                Pubblicato il <time datetime="#{guide.created.toLocalISOString()}">#{guide.created.getDate0()+ '/' +guide.created.getMonth0()+ '/' +guide.created.getFullYear()+ ' alle ' +guide.created.getHours0()+ ':' +guide.created.getMinutes0()}</time>
            if(guide.modified)
                p.GaudoNet__guide_date.
                    Modificato il <time datetime="#{guide.modified.toLocalISOString()}">#{guide.modified.getDate0()+ '/' +guide.modified.getMonth0()+ '/' +guide.modified.getFullYear()+ ' alle ' +guide.modified.getHours0()+ ':' +guide.modified.getMinutes0()}</time>
        #GaudoNet__guide.
            !{guide.body}
